.chart-area {
  height: 300px !important;
}

.bullish {
  color: #00ff7f !important;
}

.bearish {
  color: #f90707 !important;
}

.textLeft {
  text-align: left;
}

.textRight {
  text-align: right;
}

.textCenter {
  text-align: center;
}

// .numbers h3 {
//   font-size: 1.4rem;
// }
