.home {
  background: -webkit-linear-gradient(
    45deg,
    rgb(94, 114, 228),
    rgb(130, 94, 228)
  );
  background: linear-gradient(45deg, rgb(94, 114, 228), rgb(130, 94, 228));
  height: 100vh;
}
