.header-container {
  max-width: 1250px !important;

  .navbar-brand {
    position: relative !important;
  }

  .navbar {
    background: none;
  }

  .logo {
    transition: transform 1s;
    position: relative;
  }

  .logo:hover {
    transform: rotate(360deg);
  }

  .nav-container {
    padding-top: 20px;

    .navbar-nav {
      align-items: center;
    }

    .nav-item {
      margin-right: 0.5rem;
      font-weight: 500;
      font-size: 0.975rem;
      color: rgba(255, 255, 255, 0.95);

      .nav-link {
        color: rgba(255, 255, 255, 0.95);
        padding: 1rem;
        font-weight: 500;
      }

      .nav-link:hover {
        color: #ced4da;
      }
    }
  }

  .login {
    font-weight: 500;
  }

  .login:hover {
    border: 1px solid white !important;
    color: #ced4da;
  }
}
