.login-dialog {
  .logo {
    margin: 0 auto;
    padding: 20px;
    font-size: 4rem;
  }
}

// .MuiDialog-paper {
//   width: 25% !important;
// }

.MuiPaper-root {
  background-color: green !important;
}
